fastapi==0.101.1
uvicorn==0.23.2
pydantic==2.2.1
pydantic-settings==2.0.3
SQLAlchemy==2.0.20
alembic==1.11.3
psycopg2-binary==2.9.7

# dev dependencies
factory_boy==3.3.0
pytest==7.4.0
pytest-cov==4.1.0
pre-commit==3.3.3
